<div class="mt-4">
    <h3>My Course</h3>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">STT</th>
                <th scope="col">Name Course</th>
                <th scope="col" colspan="2">Decription</th>
               
            </tr>
        </thead>
        <tbody>
            {{#each course }}
            <tr>
                <th scope="row">1</th>
                <td>{{this.name}}</td>
                <td>{{this.description}}</td>
                <td>
                    <a href="/course/{{this._id}}" class="btn btn-link">update</a>
                    <a  class="btn btn-link" data-toggle="modal" data-id="{{this._id}}" data-target="#delete-course-modal"
                    >delete</a>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>

{{!-- conform delete--}}

<div id="delete-course-modal" class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">DELETE COURSE</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        You want delete course ?
      </div>
      <div class="modal-footer">
        <button  id="btn-delete-course" href="/course/{{course._id}}?_method=DELETE" type="button" class="btn btn-danger">YES</button>
        <button  type="button" class="btn btn-secondary" data-dismiss="modal">NO</button>
      </div>
    </div>
  </div>
</div>
<form name ='form-delete' method="POST" ></form>
<script>



 document.addEventListener('DOMContentLoaded',function(){
  var courseId;
   var deleteForm=document.forms['form-delete']
  var btnDeleteCourse=document.getElementById("btn-delete-course")
  $('#delete-course-modal').on('show.bs.modal', function (event) {
  var button = $(event.relatedTarget) // Button that triggered the modal
  courseId =button.data('id')
});

 btnDeleteCourse.onclick =function(){
  
  if (deleteForm) {
  deleteForm.action = '/course/' + courseId + '?_method=DELETE';
} else {
  console.error('Delete form not found');
}
deleteForm.submit()
  
 }
 })

</script>